<% if flash[:success] %>
    <div id="success">
            <h3><%= flash[:success] %></h3>
    </div>
<% end %>
<% if @user.errors.any? %>
    <div id="error_explanation">
        <h3>Oops! <%= pluralize(@user.errors.count, "Error") %> in Updating Your Account:</h3>
        <ul>
            <% @user.errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for(@user) do |f| %>
    <p><%= f.label :username %><br/>
    <%= f.text_field :username %></p>

    <p><%= f.label :email %><br/>
    <%= f.text_field :email %></p>

    <% if @user.admin && @user.id=1 %>
        <p><%= f.label :admin %>: <%= f.check_box :admin %></p>
    <% end %>

    <p><%= f.label :password, "Password" %><br/>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation %><br /></p>

    <p><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></p>
<% end %>
<%= button_to 'Delete My Account', user_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-large" %>