<%= form_for(@user, url: user_path(current_user), method: "put") do |f| %>
    <%= render "shared/error", object: f.object %>

    <p><%= f.label :username %><br/>
    <%= f.text_field :username %></p>

    <p><%= f.label :email %><br/>
    <%= f.text_field :email %></p>

    <% if @user.admin || @user.id == 1 %>
        <p><%= f.label :admin %>: <%= f.check_box :admin %></p>
    <% end %>

    <p><%= f.label :password, "Password" %><br/>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation %><br /></p>

    <p><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></p>
<% end %>
<%= button_to 'Delete My Account', user_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-large" %>