<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "User", "#usershow", :data => {:toggle=>"tab"} %></li>
	<li><%= link_to "Edit", "#edit", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="usershow">
		<h1><%= @user.username %></h1>
		<p>Admin: <%= @user.admin ? 'Yes' : 'No' %></p>
		<p>Pages Count: <%= @user.pages.count %></p>
	</div>
	<div class="tab-pane" id="edit">
			<h1>Update Your Profile</h1>
		<% if @user == current_user %>
			<%= render "users/edit", locals: {user: current_user} %>
		<% else %>
			<p>You need to either sign in or create an account before updating your account.</p>
		<% end %>
	</div>
</div>
<script>
   $('#myTab a:first').tab('show') // Select first tab
</script>