<div id="left">

  <!-- search -->
  <p><%= form_tag(pages_path, :method => 'get', :class => "search") do %>
    <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "Search" %>
  <% end %></p>
  <!-- end of search -->

  <!-- trend form -->
  <% if signed_in? %>
    <% if current_user.admin %>
    <%= render "trends/trend_form" %>
    <% end %>
  <% end %>
  <!-- end of trend form -->
  <div class="panel-group" id="accordion">
    <% @trends.each do |trend| %>
      <!-- start of panel 1 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-<%= trend.id %>">
                <%= trend.title %>
              </a>
            </h4>
          </div>
          <div id="collapseOne-<%= trend.id %>" class="panel-collapse collapse in">
            <div class="panel-body">
            <% if trend.pages.any? %>
              <% trend.pages.each do |page| %>
                  <p><%= link_to page.title, page_path(page) %></p>
              <%end%>
            <%else%>
              <p>No pages made</p>
            <%end%>
            </div>
          </div>
        </div>
    <% end %>
      <!-- end of panel 1 -->
  </div>
<script>
$('.collapse').collapse()
</script>
</div>