<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "Page", "#page", :data => {:toggle=>"tab"} %></li>
	<li><%= link_to "Update Page", "#updatepage", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="page">
		<h1><%= @page.title %></h1>	
			<small>Created by: <%= link_to @page.user.username, user_path(@page.user) %>, Last Updated: <%= @page.updated_at.strftime('%m/%d/%Y ') %></small>
		<blockquote><i><%= @page.summary %></i></blockquote>
		<p><%= @page.body.html_safe %></p>
	</div>
	<div class="tab-pane" id="updatepage">
		<h1>Update Page</h1>
		<% if signed_in? %>
			<%= render "pages/form", locals: {page: @page} %>
			<% if current_user.admin %>
			    <%= button_to 'Delete', page_path(@page), method: :delete, data: { confirm: 'Are you sure you want to delete the page?' }, class: "btn btn-large" %>
			<% end %>
		<% else %>
			<p>You need to be signed in to edit pages</p>
		<% end %>
	</div>
</div>
<script>
   	$('#myTab a:first').tab('show') // Select first tab
</script>